<%- include('partials/styleOnlyHeader'); %> 


<div class="channels-header" style="display: flex; height: 130px;">
	<h3 style="font-family: 'Chewy', cursive; font-size: 50px; margin-right: 60px; font-weight: bolder;">Waffle</h3>
	<div class="profile-header" style=" display: flex;  margin-left: 1124px;">
		<div class="prof-pic">
			<img src="images/download.jpg" width="80px;" alt="error" style="border-radius: 50%;">
		</div>
		<div class="display-name" style="margin-top: 25px;">
		<h2 style="font-size: 28px;">Display Name</h2>
		</div>
	</div>
	
	<div class="channel-title">
		<h1>Create Channel</h1>
	</div>
</div> 

<div class="channels-sidebar">
		<h1 style="font-size: 35px;">Channels</h1>
		<div class="inside-sidebar">
			<p1>channel 1</p1>
			<p2>channel 2</p2>
		</div>

</div>



<%- include('partials/styleOnlyHeader'); %>


<style>
.channels-header{
	width: auto;
	background-color: #F9A912;
	padding: 30px;

}

.channels-sidebar {
	background-color: #F9A912;
	padding-top: 20px;
	width: 270px;
	height: 692px;
	margin-top: -8px;
}

.img {
	border-radius: 50%;
}

.channel-title {
	background-color: #FFC107;
	margin-top: 100px;
}



</style>