<%- include('partials/header'); %> 


<div class="d-flex justify-content-between p-3 nav">
    <a href="/channels" class="text-body h2">Waffle</a>
    <div>
      <a href="/account" class="text-body h2 mr-3">Account</a>
      <a href="/channels" class="text-body h2">Channels</a>
    </div>
</div>
<div id="main" class="error404">
  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col error404">
        <h1><%= error.status %></h1>
        <h3><%= message %></h3>
      </main>
    </div> <!-- end .row --> 
  </div><!-- end .container-fluid -->
</div><!-- end #main -->
<%- include('partials/footer'); %>
