<%- include('partials/styleOnlyHeader'); %> 
<div class="main-div">
    <h1>Waffle</h1>
    <p1>EMAIL</p1>
    <input id="txtEmail" type="email">
    <p2>PASSWORD</p2>
    <input id="txtPassword"type="password">
  
    <button>Log in</button>
  

</div>
  </div>
</div>
<script src="index.js"></script>
</body>
</html>
<%- include('partials/footer'); %>