<%- include('partials/styleOnlyHeader'); %> 
<div class="container">
  <div class="row">
    <div class="col-md-12" style="background-color: #FA9200;">
  </div>
</div>

</div>

</body>
</html>
<%- include('partials/footer'); %>