<%- include('partials/styleOnlyHeader'); %> 


<div class="main-div">
  <h1 style="font-family: 'Chewy', cursive; font-size: 50px; text-align-last: center; margin-right: 60px; font-weight: bold;">Waffle</h1>
  <form action="/login" method="post">
      <p1 id="main-email">EMAIL</p1>
      <input type="email" id="txtEmail" name="email">
      <p2>PASSWORD</p2>
      <input id="txtPassword" type="password" name="password">
  
      <button type="submit">Log in</button>
      <p><a href="/register">Need an account?</a></p>
      <% if (locals.errors && locals.errors.login) { %>
        <% locals.errors.login.forEach(function(error) { %>
          <p class="alert alert-primary" role="alert"><%= error %></p>
        <% }) %>
      <% } %>
  </form>



</div>
  </div>
</div>
<script src="firebase.json"></script>
</body>
</html>
<%- include('partials/footer'); %>