<%- include('partials/header'); %> 
<div id="main">
  <div class="container-fluid">
    <div class="row h-full">
      <div id="sidebar" class="col-3">
        <h2>*Channels*</h2>
      </div>  
      <main id="content" role="main" class="col-9">
        <div class="header">
          <h1>*Channel Name*</h1>
        <div id="chat-face" class="col-12">
          <h3>*chat face*</h3>
        </div>
        </div>
      </main>
    </div> <!-- end .row --> 
  </div><!-- end .container-fluid -->
</div><!-- end #main -->
<%- include('partials/footer'); %>