<%- include('partials/styleOnlyHeader'); %> 
<body id="register">
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
    <script src="register.js"></script>

<div class="reg-div">
    <h1>Sign Up</h1>
    <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">First Name</p>
    <input id="txtFirst">
    <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Last Name</p>
    <input id="txtLast">
    <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">E-mail</p>
    <input id="txtE-mail" type="email">
    <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Password</p>
    <input id="txtPass" type="password">
    <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Confirm Password</p>
    <input id="txtconfirmPass" type="password">
    
    <button onclick="signUp()" id="signUp">Sign Up</button>
    <p><a href="/">Already have an account?</a></p>




</div>

</html>
</body>
</head>

<%- include('partials/footer'); %>