<%- include('partials/styleOnlyHeader'); %> 


<div class="reg-div">
    <h1>Sign Up</h1>
    <form action="/register" method="post">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">First Name</p>
        <% var userName = ("displayName" in  locals.user) ? locals.user.displayName : false; %>
        <input id="txtFirst">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Last Name</p>
        <% var userName = ("displayName" in  locals.user) ? locals.user.displayName : false; %>
        <input id="txtLast">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">E-mail</p>
        <input id="txtE-mail" type="email" name="email">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Password</p>
        <% var email = ("displayName" in  locals.user) ? locals.user.password : false; %>
        <input id="txtPass" type="password" name="password">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Confirm Password</p>
        <% var email = ("displayName" in  locals.user) ? locals.user.confirmPassword : false; %>
        <input id="txtconfirmPass" type="password" name="passwordConfirm">
        
        <button type="submit" id="signUp">Sign Up</button>
        <p><a href="/">Already have an account?</a></p>
    
        <% if (locals.errors && locals.errors.register) { %>
            <% locals.errors.register.forEach(function(error) { %>
                <p class="alert alert-primary" role="alert"><%= error %></p>
            <% }) %>
        <% } %>
    </form>



</div>

<%- include('partials/footer'); %>