<%- include('partials/styleOnlyHeader'); %> 
<div class="reg-div">
    <h1>Update Password</h1>
    <form action="/password" method="post">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Password</p>
        <input id="txtFirst" name="password" type="password">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Confirm Password</p>
        <input id="txtLast" name="passwordConfirm" type="password">
        
        <button type="submit">Update Password</button>
    </form>

</div>

<%- include('partials/footer'); %>