body {
  background-color: #FA9200;
  padding: 0px;
  margin: 0px;
  font-family: 'Chewy', cursive;
  overflow-y: hidden;
}

.main-div {
  background-color: #FFC107;
  width: 50%;
  margin: 0px auto;
  margin-top: 90px;
  padding: 70px;
  padding-left: 115px;
  border-radius: 6px;

}

.main-div input {
  display: block;
  background-color: #F0B916;
  width: 600px;
  border-radius: 4px;
  border: 3px solid #8C8C8C;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 80px;
  
}

.main-div button {
  background: black;
  display: block;
  color: white;
  width: 600px;
  margin-top: -30px;
  border-radius: 10px;
  padding: 10px;

}

#register {
  background-color:#FA9200;
}

.reg-div {
  background-color:  #FFC107 ;
  width: 40%;
  margin: 0px auto;
  margin-top: 55px;
  padding: 50px;
  padding-left: 140px;
  border-radius: 10px;
}

.reg-div input {
  display: block;
  background-color: #F0B916;
  width: 400px;
  border-radius: 4px;
  border: 3px solid #8C8C8C;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}



.alert-primary{
  background-color: #FFC107;
  color: #FE1212;
  width: 540px;
  border-radius: 50px;
  border: none;
}





a i {
  margin-right: 0.4rem;
}

.error404{
  text-align: center;
}

.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);

}

#sidebar{
  background: #F9A912;
  height: 778px;
}

.header{
  width: 100%;
  background-color: #FFC107;
}
.header h1{
  padding: 15px 30px;
}

#content{
  background: beige;
  padding: 0;
}

#chat-face{
  background: #FAD155;
  height: 692px;

}



