body{
  background: #FAD155;
}
#sidebar{
  background: #F9A912;
  height: 778px;
}

#main{
  background-color: blue;
}
.header{
  width: 100%;
  background-color: #FFC107;
}
.header h1{
  padding: 15px 30px;
}
#content{
  background: beige;
  padding: 0;
}

