body {
  background-color: #FA9200;
  padding: 0px;
  margin: 0px;
  font-family: 'Chewy', cursive;
}

.main-div {
  background-color: #FFC107;
  width: 50%;
  margin: 0px auto;
  margin-top: 90px;
  padding: 120px;
  padding-left: 115px;
  border-radius: 10px;
}

.main-div input {
  display: block;
  background-color: #F0B916;
  width: 600px;
  border-radius: 4px;
  border: 3px solid #8C8C8C;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.main-div button {
  background: black;
  display: block;
  color: white;
  width: 600px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;

}


a i {
  margin-right: 0.4rem;
}

.error404{
  text-align: center;
}

.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);

}

#sidebar{
  background: #F9A912;
  height: 778px;
}

.header{
  width: 100%;
  background-color: #FFC107;
}
.header h1{
  padding: 15px 30px;
}

#content{
  background: beige;
  padding: 0;
}

#chat-face{
  background: #FAD155;
  height: 692px;

}



