body {
  background-color: #FA9200;
  padding: 0px;
  margin: 0px;
  overflow-y: hidden;

}


.main-div {
  background-color: #FFC107;
  width: 50%;
  margin: 0px auto;
  margin-top: 90px;
  padding: 70px;
  padding-left: 115px;
  border-radius: 6px;

}

.main-div input {
  display: block;
  background-color: #F0B916;
  width: 600px;
  border-radius: 4px;
  border: 3px solid #8C8C8C;
  height: 40px;
  outline: none;
  margin-bottom: 80px;
  
}

.main-div button {
  background: black;
  display: block;
  color: white;
  width: 600px;
  margin-top: -30px;
  border-radius: 10px;
  padding: 10px;
  outline: none;

}

#register {
  background-color:#FA9200;
}

.reg-div {
  display: flex flexbox;
  width: 100px; 
  margin: 0px auto;
  margin-top: 55px;
  align-self: center;
  margin-left: 530px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.reg-div input {
  display: block;
  background-color: #F0B916;
  width: 400px;
  border-radius: 4px;
  border: 1px solid #8C8C8C;
  height: 40px;
  margin-top: -20px;
  margin-bottom: 20px;
  outline: none;
}



.title {
  padding-left: 70px;
  width: 400px;

}

.reg-div-pass {
  width: 80%;
  margin-top: 50px;
  padding-top: 10px;
  margin-left: 700px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}   

.reg-div-pass input {
  transition: 0.3s;
  display: block;
  background-color: #F0B916;
  width: 400px;
  border-radius: 4px;
  border: 1px solid #8C8C8C;
  height: 40px;
  margin-top: -20px;
  margin-bottom: 20px;
  outline: none;
}


#updateProfile{
  transition: 0.3s;
  background-color: green;
  font-size: medium;
  color: white;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #FABF07;
  outline: none;

}

#updateProfile:hover{
  opacity: 0.8;
}



#updatePassword {
  background: green;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 1px solid #FABF07;
  font-size: medium;
  outline: none;
}

#updatePassword:hover {
  opacity: 0.8
}





a i {
  margin-right: 0.4rem;
}

.error404{
  text-align: center;
}

.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);

}

#sidebar{
  background: #F9A912;
  height: 778px;
}

.header{
  width: 100%;
  background-color: #FFC107;
}
.header h1{
  padding: 15px 30px;
}

#content{
  background: beige;
  padding: 0;
}

#chat-face{
  background: #FAD155;
  height: 692px;

}



