a i {
  margin-right: 0.4rem;
}

.error404{
  text-align: center;
}

.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);

}

body{
  background: #FAD155;
}
#sidebar{
  background: #F9A912;
  height: 778px;
}

.header{
  width: 100%;
  background-color: #FFC107;
}
.header h1{
  padding: 15px 30px;
}
#content{
  background: beige;
  padding: 0;
}

#chat-face{
  background: #FAD155;
  height: 692px;

}

